/* grid 수업 */
/* 1분 코딩 영상 참고 */
/* https://www.youtube.com/watch?v=eprXmC_j9A4 */

/* grid 특징 */
/* 
*/

.container {
  background-color: lightyellow;
  /* 
    vh? %?
    % : 부모의 높이에 100%를 채우겠다.
    vh : viewport height_부모에 상관없이 보이는 뷰포트의 %로 반영하겠다. 
    */
  display: grid;
  /* 1. 아이템들을 4:6으로 나눈 것 */
  /* gird-gap 사용 시 추가 여백이 생긴다._불편 */
  /* grid-template-columns: 40% 60%; */

  /* 2. 아이템들을 4:6으로 나눈 것 */
  /* fr = fraction: 부분, 파편*/
  /* grid-gap과 같이 사용할 수 있기 때문에 얘를 더 선호_깔끔 */
  /* grid-template-columns: 4fr 6fr;
    grid-gap: 1rem; */

  /* 아이템 반복 */
  /* grid-template-columns: 1fr 1fr 1fr 와 동일 */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  /* 특정 영역 고정 */
  /* grid-template-columns: 200px 1fr; */

  /* 기본적으로 같은 행의 아이템의 높이는 큰 아이템에 맞춰 동일하게 적용됨 */
  /* 1. 행의 높이 설정_고정적 */
  /*    - 내용이 넘칠 수 있다. */
  /* grid-auto-rows: 200px; */

  /* 2. 행의 높이 설정 */
  /*    - auto 값 적용으로 해당 행에 내용이 넘쳐도 맞게 적용됨 */
  /*    - 내용이 넘치지 않는다면 200px로 높이 적용 */
  grid-auto-rows: minmax(200px, auto);

  /* 아이템 정렬 */
  /* 원소의 크기만큼 아이템의 크기가 정해지고 아이템을 정렬할 수 있다. */
  /* flex의 justify-content와 유사 */
  /* justify-items: center; */
  /* align-items: center; */
}

.item {
  border: 1px solid black;
  opacity: 0.5;
}
/* 행방향 늘리기 */
/* 
축 번호 매겨지는 원리는 아래와 같이 적용된다.

item1 item2 item3

축1     축2     축3     축4
| item1 | item2 | item3 | 


*/
/* 헤더 만들기 */
.item1 {
  background: #ef9a9a;
  /* "1번 축부터 4번 축까지 차지하게 해주세요" 라는 뜻 */
  grid-column: 1/4;
}
.item2 {
  background: #f48fb1;
}
/* 아이템 개별 정렬 */
.item3 {
  background: #ce93d8;
  /* justify-self: center; */
  /* align-self: center; */
}
/* 열방향 늘리기 */
.item4 {
  background: #b39ddb;
  /* 2/4를 적용하면 공간적 이유 때문에 아이템이 column 1번 축 쪽으로 이동하게 된다.*/
  grid-row: 2/4;
  /* 원하는 위치에 놓기 */
  grid-column: 3;
}
.item5 {
  background: #90caf9;
}
.item6 {
  background: #a5d6a7;
}
.item7 {
  background: #e6ee9c;
}
.item8 {
  background-color: khaki;
}
/* 다른 아이템 영역 침범하기_ 침범된 영역의 색이 겹치는 것을 볼 수 있다.*/
.item9 {
  background-color: linen;
  grid-row: 3/5;
  grid-column: 3;
}
